USE [master]
GO
/****** Objeto: Database [grupo13] Fecha de script: 22/9/2026 21:05:58 ******/
CREATE DATABASE [grupo13]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'grupo13', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\grupo13.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'grupo13_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\grupo13_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [grupo13].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [grupo13]
GO
/****** Objeto: Table [dbo].[CLIENTE] Fecha de script: 22/9/2026 21:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](100) NOT NULL,
	[dni] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PERMISO] Fecha de script: 22/9/2026 21:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[id_permiso] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[nombreMenu] [varchar](100) NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ROL] Fecha de script: 22/9/2026 21:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIO] Fecha de script: 22/9/2026 21:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](100) NOT NULL,
	[dni] [int] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[id_rol] [int] NOT NULL,
	[fechaCreacion] [datetime] NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VENTA] Fecha de script: 22/9/2026 21:05:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[tipoDocumento] [varchar](50) NULL,
	[numeroDocumento] [varchar](50) NOT NULL,
	[montoPago] [decimal](10, 2) NULL,
	[cambio] [decimal](10, 2) NULL,
	[total] [decimal](10, 2) NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([id_cliente], [nombreCompleto], [dni], [email], [telefono], [direccion], [fechaCreacion]) VALUES (1, N'Lucas', 222222, N'lucas@gmail.com', N'154656663', N'junin', CAST(N'2026-09-21T12:26:23.033' AS DateTime))
INSERT [dbo].[CLIENTE] ([id_cliente], [nombreCompleto], [dni], [email], [telefono], [direccion], [fechaCreacion]) VALUES (3, N'Joaquin', 111111, N'joa@gmail.com', N'154878889', N'San Lorenzo', CAST(N'2026-09-22T20:00:26.617' AS DateTime))
INSERT [dbo].[CLIENTE] ([id_cliente], [nombreCompleto], [dni], [email], [telefono], [direccion], [fechaCreacion]) VALUES (4, N'Valentina', 333333, N'valen@gmail.com', N'154222321', N'junin', CAST(N'2026-09-22T20:01:24.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([id_rol], [descripcion], [fechaCreacion]) VALUES (1, N'ADMINISTRADOR', CAST(N'2026-09-17T19:12:41.547' AS DateTime))
INSERT [dbo].[ROL] ([id_rol], [descripcion], [fechaCreacion]) VALUES (2, N'VENDEDOR', CAST(N'2026-09-18T11:49:00.487' AS DateTime))
INSERT [dbo].[ROL] ([id_rol], [descripcion], [fechaCreacion]) VALUES (3, N'GERENTE', CAST(N'2026-09-18T11:49:00.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([id_usuario], [nombreCompleto], [dni], [email], [telefono], [direccion], [contraseña], [id_rol], [fechaCreacion], [estado]) VALUES (1, N'Micaela', 40200300, N'micaela@gmail.com', N'3794111213', N'9 de julio', N'123456', 1, CAST(N'2026-09-17T19:19:43.400' AS DateTime), 1)
INSERT [dbo].[USUARIO] ([id_usuario], [nombreCompleto], [dni], [email], [telefono], [direccion], [contraseña], [id_rol], [fechaCreacion], [estado]) VALUES (5, N'Juan', 10200300, N'juan@gmail.com', N'3794878889', N'junin', N'123456', 2, CAST(N'2026-09-18T11:53:12.477' AS DateTime), 1)
INSERT [dbo].[USUARIO] ([id_usuario], [nombreCompleto], [dni], [email], [telefono], [direccion], [contraseña], [id_rol], [fechaCreacion], [estado]) VALUES (6, N'Juana perez', 20100300, N'juana@gmail.com', N'3794848586', N'Junin y Santa Fe', N'123456', 3, CAST(N'2026-09-18T12:10:57.350' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
/****** Objeto: Index [UQ_CLIENTE_DNI] Fecha de script: 22/9/2026 21:05:58 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UQ_CLIENTE_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_USUARIO_DNI] Fecha de script: 22/9/2026 21:05:58 ******/
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [UQ_USUARIO_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[PERMISO] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[VENTA] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[PERMISO]  WITH CHECK ADD  CONSTRAINT [FK_PERMISO_ROL] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[PERMISO] CHECK CONSTRAINT [FK_PERMISO_ROL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_USUARIO]
GO
USE [master]
GO
